# ==========================================
# Visual Studio
# ==========================================
.vs/
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/

# ==========================================
# SSIS / SSDT
# ==========================================
*.ispac
*.dtproj.user

# Temporary SSIS files
*.database
*.data

# ==========================================
# Power BI
# ==========================================
*.tmp

# Power BI cache/temp
*.pbit.autosave

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# OS files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# VS Code
# ==========================================
.vscode/



# ==========================================
# Temporary backups
# ==========================================
*.bak
*.backup